<!DOCTYPE html>
<html ng-app="demoapp">
<head>
    <script src="../bower_components/openlayers3/build/ol.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../dist/angular-openlayers-directive.js"></script>
    <link rel="stylesheet" href="../bower_components/openlayers3/build/ol.css" />
    <link rel="stylesheet" href="../dist/angular-openlayers-directive.css" />
    <script>
        var app = angular.module("demoapp", ["openlayers-directive"]);
        app.controller("StaticImageController", [ '$scope', '$http', 'olData', function($scope, $http, olData) {
            angular.extend($scope, {
                "path1":{
                    coords: [[-58.38,-34.60], [-58.58,-34.60], [-60,-35]],
                    label:{
                        message:"path 1",
                        show:false,
                        showOnMouseOver:true
                    }
                },
                "path2":{
                    coords: [[58.38,34.60], [58.58,34.60], [60,35]],
                    label:{
                        message:"path 2",
                        show:false,
                        showOnMouseOver:true
                    }
                }
            });

        } ]);
    </script>
</head>
<body ng-controller="StaticImageController">
<openlayers height="600px">
    <ol-path ol-geom-properties="path1" ol-type="LineString"></ol-path>
    <ol-path ol-geom-properties="path2" ol-type="LineString"></ol-path>
</openlayers>
<h1>You can change the marker message on the fly</h1>
<input ng-model="path1.label.message">
<input type="checkbox" ng-model="path1.label.show">Show Label
<input type="checkbox" ng-model="path1.label.showOnMouseOver">Hover Label

<br>

<input ng-model="path2.label.message">
<input type="checkbox" ng-model="path2.label.show">Show Label
<input type="checkbox" ng-model="path2.label.showOnMouseOver">Hover Label
<pre ng-bind="layers | json"></pre>
<pre ng-bind="center | json"></pre>
</body>
</html>
